*{
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    background-image: url(Feature-image-Rajasthan-fort.jpg);
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
    height: 70vh;
    background-color: black;
}

div{
    display: block;
}

.navbar-custom{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

header{
    background-color: rgba(255, 255, 255, 0.667);
}

.Header .logo{
    display: inline-block;
    padding-bottom: 0.3125rem;
    font-size: 1.25rem;
}

.Header .logo img{
    width: 90px;
}

img{
    vertical-align: middle;
    border-style: none;
}

.img-logo{
    max-width: 100%;
    height: auto;
}

.Header .tagline{
    font-size: 20px;
    font-weight: 400px;
    text-align: center;
    gap: 4px;
    /* visibility: visible; */
}

h1{
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.2;
    display: block;
}

.navbarMenu{
    align-items: center;
}

.Header .navbarMenu .menuitems{
    display: flex;
    flex-direction: column;
    padding-left:0;
    margin-bottom: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

li{
    margin: 10px;
}

li span{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

ul{
    text-decoration: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 5px;

}

.Header .menuitems .li1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    gap: 4px;
}

@media (min-width: 1900px){
    .Header .navbarMenu{
        margin-left: 8%;
    }
}


@media (min-width: 1280px) {
    .Header{
        position: absolute;
        left: 0;
        right: 0;
        height: 90px;
    }

    .Header .tagline{
        color:black;
        /* visibility: hidden; */
        width: 16%;
    }

    .Header .navbarMenu .menuitems{
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .Header .navbarMenu .menuitems .litem{
        height: 90px;
        display: flex;
        align-items: center;
        position: static;
    }

    .Header .navbarMenu{
        flex-basis: 50%;
        flex-grow: 0;
        justify-content: center;
    }

}

@media (min-width: 1280px){
    .Header .navbar-custom{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        height: 90px;
        align-items: center;
    }

    .Header .navbar-custom .navbarMenu{
        display: flex !important;
        box-shadow: none;
        justify-content: center;
    }
}
